/*
====================
city - open, display
====================
*/

.City {
	border: 2px solid red;
	height: 100%;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	overflow-y: scroll;
}

.City-header {
	border: 2px solid green;
	height: 50vh;
	width: 100%;
	top: 0;
	left: 0;
	position: fixed;
	z-index: 0;
	
	justify-content: center;
	align-items: center;

	background-size: cover;
	background-image: url('./berlin.jpg');
	background-position: center center;
	background-repeat: no-repeat;
}

.City-header::before {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: #000;
	opacity: 0.6;
	z-index: -1;
}

.City-name {
	font-size: 4rem;
	text-transform: uppercase;
	color: #fff;
}

.City-body {
	border: 2px solid blue;
	min-height: 100%;
	margin-top: 50vh;
}