/*
  ====================
  mixins
  ====================
*/

@mixin background() {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

@mixin pseudo() {
	content: "";
	position: absolute;
}
