/*
  ====================
  resets
  ====================
*/

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body {
	width: 100%;
	height: 100%;
	background-color: $white;
	line-height: 1;
}

body {
	font-family: $generalFont;

	&.u-noScroll {
		overflow: hidden;
	}
}

a {
	text-decoration: none;
}

li {
	list-style: none;
}
