/*
  ====================
  utilities
  ====================
*/


.u-standardSection {
	width: 100%;
}

.u-innerContainer {
	margin: 0 auto;
	max-width: $innerContMaxWidth;
	padding-left: $standardPadding;
	padding-right: $standardPadding;
	width: 100%;
}

/*
  ====================
  display modes
  ==========
*/

.u-displayInlineBlock {
	display: inline-block;
	vertical-align: top;
}

.u-displayTable {
	display: table;
}

.u-displayTableCell {
	display: table-cell;
}

.u-displayTableRow {
	display: table-row;
}

.u-vAlignMiddle {
	vertical-align: middle;
}

.u-displayFlex {
	display: flex;
}

.u-flexDirCol {
	flex-direction: column;
}



// this, below, name change, pls...
.u-font0 {
	font-size: 0;
}

.u-floatRight {
	float: right;
}

/*
  ====================
  paddings
  ==========
*/

.u-paddingLR {
	padding-left: $standardPadding;
	padding-right: $standardPadding;

	&.is-first {
		padding-left: 0;
	}

	&.is-last {
		padding-right: 0;
	}
}

.u-paddingTB {
	padding-top: $standardPadding;
	padding-bottom: $standardPadding;

	&.is-first {
		padding-top: 0;
	}

	&.is-last {
		padding-bottom: 0;
	}
}

.u-noPadding {
	padding: 0;
}

.u-height100 {
	height: 100%;
}

/*
  ====================
  layout
  ==========
*/

.u-column100,
.u-column75,
.u-column66,
.u-column50,
.u-column33,
.u-column25 {
	width: 100%;
	font-size: 1rem;
}

.u-column75 {
	width: 75%;
}

.u-column66 {
	width: 66.66666%;
}

.u-column50 {
	width: 50%;
}

.u-column33 {
	width: 33.33333%;
}

.u-column25 {
	width: 25%;
}



.u-textLeft {
	text-align: left;
}

.u-textRight {
	text-align: right;
}