 /*
  ====================
  variables
  ====================
*/

$innerContMaxWidth: 1200px;
/*
  ====================
  common
  ==========
*/

$standardTransition: all 0.4s;
$shortTransition: all 0.2s;

/*
  ====================
  colors
  ==========
*/

$white: #fff;
$bodyCopyColor: #222222;

/*
  ====================
  font
  ==========
*/

$generalFont: 'Roboto', sans-serif;


/*
  ====================
  spacing
  ==========
*/

$standardPadding: 0.625rem;