.Board {
  width: 500px; // 20 cells * 25 pixels
  height: 500px;
  border: 1px solid black;
  margin: 25px;
  box-sizing: content-box;
  font-size: 0;
}

.Board-square {
  width: 25px;
  height: 25px;
  border: 1px solid #ccc;
  display: inline-block;
  box-sizing: border-box;
}

.Fruit {
  background-color: green;
}

.Snake-piece {
  width: 25px;
  height: 25px;
  background-color: #000000;
  border: 1px solid red;
  position: relative;
  z-index: 3;
}
