/*
  ====================
  main
  ====================

  Table of Contents (in order):

  - variables;
  - resets;
  - mixins;
  - utilities;
  - navigation
  - overwrites;
*/
 
@import "__variables.scss",
        "__resets.scss",
        "__mixins.scss",
        "__utilities.scss";
@import "slider.scss";
@import "board.scss";
@import "settings.scss";
@import "__overwrites.scss";
@import "_buildHelpers.scss";