/*
  ====================
  slider
  ====================
*/

.container {
  border: 1px solid red;
  height: 100%;
  font-size: 0;
  perspective: 1000px;
  transform-style: preserve-3d;
  position: relative;
  transform: translateZ( -100px );
}

.sliderContainer {
  position: relative;
  height: 50%;
  transform-origin: top;
  transform: translateZ(-100px) rotateX(-2deg);
  //perspective: 1000px;
  transform-style: preserve-3d;
}

.sliderN {
  border: 1px solid green;
  height: 100%;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  transform: rotateX(-90deg) translateZ(100px);
  transform-origin: top;
  background-color: green;
}

.slider {
  border: 1px solid blue;
  height: 100%;
  transform-origin: top;
  transform: translateZ(100px);

  background-size: 300% auto;
  background-image: url('../images/city_covers/deu_berlin_cover.jpg');

  &:nth-child(1) {
    background-position: left top;
    transform: rotateX(0deg);
  }

  &:nth-child(2) {
    background-position: -100% top;
  }

  &:nth-child(3) {
    background-position: -200% top;
  }

  &:nth-child(4) {
    background-position: left -100%;
  }
  &:nth-child(5) {
    background-position: -100% -100%;
  }
  &:nth-child(6) {
    background-position: -200% -100%;
  }
}

